@import "tailwindcss";

@theme {
    --color-background: #121214;
    --color-surface: #1e1e22;
    --color-border: #2a2a2e;

    --color-text-primary: #ededed;
    --color-text-muted: #999999;

    --color-accent-primary: #a2d2ff;
    --color-accent-secondary: #ffafcc;
    --color-accent-tertiary: #bdb2ff;
    --color-accent-focus: #94e2d5;
}

.swal2-popup {
    @apply bg-border text-text-primary;

    .swal2-input {
        @apply bg-white/10 border-0 outline-1 outline-transparent focus:!outline-accent-focus transition-all duration-150;
    }

    .swal2-validation-message {
        @apply bg-border;
    }

    .swal2-confirm {
        @apply bg-accent-primary hover:brightness-90;
    }

    .swal2-cancel {
        @apply bg-accent-secondary hover:brightness-90;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.1s ease-out forwards;
}
